


.sidebar {
    position: fixed;
    float: left;
    left: 0;
    width: 25%;
    height: 78%;
    margin-left: 5%;
    /* margin-top: -2%; */
    margin-bottom: 2%;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 2%;
    opacity: 70%;

}

.sidebar img {
    width: 90%;
    padding: 5%;
    opacity: 50%;
    border-radius: 10%;
    position: absolute;
}


@media (max-width: 1000px) {

    /* .topbar 
    {
        display: block;
    } */
    .sidebar {
        display: none;
    }

    .container {
        width: 100%;
        /* float: left; */
    }
}

@media (min-width: 1001px) {

    .sidebar img {
        opacity: 100;
    }


}

body {

    /* background: linear-gradient(45deg, #000000, #361717); */
    /* color: #ffffff; */
    font-family: Arial, sans-serif;
    /* position: ; */
}

h1 {

    /* position: fixed; */
    font-size: 60px;
    font-weight: bold;
    padding: 5%;
    background-color:#a68282;;
    opacity: 80%;
    color:black;

}

.container {
    position: relative;
    top: 50px;
    float: right;
    right: 0;
    /* flex-direction: column; */
    padding: 5%;
    width: 60%;

}



.album {
    /* float: right; */
    top: 10%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    background-color: #3a1d1d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    border-radius: 30px;
    border: 1px solid #3a1d1d;
    padding: 25px;
    opacity: 80%;
    transition: transform 0.2s ease-in-out;
}

.album:hover {
    transform: translateY(-10px);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(105, 68, 68, 0.2);
    opacity: 100%;
}

.album img {
    float: left;
    width: 220px;
    height: 220px;
    object-fit: fit;
    opacity: 100%;
    border-radius: 20%;
    margin-right: 20%;
    /* position: relative; */
}
.album a img {
    float: left;
    width: 220px;
    height: 220px;
    object-fit: fit;
    opacity: 100%;
    border-radius: 20%;
    margin-right: 20%;
    /* position: relative; */
}

a .infoo  {
    /* right: 0; */
    left: 50;
    margin-right: 10%;
    /* position:fixed; */
}

.album h2 {
    font-size: 40px;
    font-weight: bold;
    /* color: #d8c8c8; */
    color: #d8c8c8;
    


}

.album p {
    font-size: 30px;
    /* color: #d8c8c8; */
    color: #d8c8c8;

    /* padding-left: 300%; */
}

a  {
    text-decoration: none;
    color: #d8c8c8;
}